*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#banner{
    background-color: rgb(90, 90, 90);
    margin-top: 0px;
    height: 60px;
    padding: none;
    font-family: 'Times New Roman', Times, serif;
}

header{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    font-size: 30px;
    color: rgb(175, 141, 97);
    margin-bottom: 25px;
}

#Heading1{
    border-bottom-style: double;
    border-bottom-width: 5px;
    border-color: rgb(121, 92, 50);
}

/*Everything inside container (15-)*/
#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    width: 100%;
    padding: 5px;
    padding-top: 0px;;
    
}

div {
    color: black;
    margin: 3px;
}

/*Main paragraph span 2/3s */
.mainP{
    grid-column-start: span 2;
    font-size: 18px;
    border-style: dotted;
    border-color: rgb(97, 54, 19);
    border-radius: 5px;
    padding: 7px;
}

/*Paragraph style*/
p{
    padding: 7px;
    font-size: 18px;
}

/*All sidebar info (40-)*/
.sidebar{
    border-style: solid;
    border-color: burlywood;
    font-size: 17px;
    height: auto;
    grid-column-start: 3;
}

h2{
    font-size: 25px;
    text-align: center;
    color: rgb(97, 54, 19);
}

body{
    margin: 0;
    background-color: rgb(180, 180, 180);
    padding-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 8px;
    list-style: none;
}

#secondaryD li{
    display: none;
}

#mainD1:hover li{
    display: block;
    cursor: pointer;
}

footer{
    padding: 10px;
    margin-top: 20px;
    border-style: double;
    border-left: none;
    border-right: none;
    
    color:  rgb(97, 54, 19);
}

#names{
    padding: 10px;
    text-align: center;
    border: none;
    color: black;
}

#buttonNav{
    display: inline-block;
    text-align: center;
    width: 100%;
}

#WWW{
    float: left;
}

#Globe{
    float: right;
}

#Licklider{
    float: left;
}

#Ray{
    float: right;
}

#Cerf{
    float: left;
}

#Lee{
    float: right;
}

img{
    border-style: solid;
    border-color: rgb(209, 52, 29);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgb(209, 52, 29);
}

/*Navigation*/
nav{
    display: inline-block;
    text-align: center;
    width: 100%;
}

nav li{
    list-style: none;
    display: inline-block;
    margin: 10px;
}

nav li a:hover{
    box-shadow: 0px 0px 0px 4px rgb(209, 52, 29);
}

nav li a {
    padding: 5px;
    min-width: 70px;
    width: auto;
    height: 25px;
    margin: 10px;
    background-color: rgb(221, 220, 220);
    text-decoration: none;
    color: rgb(97, 54, 19);
    box-shadow: 2px 2px 2px rgb(209, 52, 29);
    padding: 5px;
}
    